<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
  </head>

  <body>
    <!-- display message -->
    <% if(message){ %>
    <p>Message: <%= message %></p>
    <% } %>

    <h2>Reset Password :</h2>
    <form action="/auth/reset-password?token=<%= token %>" method="POST">
      <div>
        <label>New Password </label>
        <input type="text" name="new_password" placeholder="New Password" />
      </div>

      <br />

      <div>
        <label>Confirm New Password </label>
        <input
          type="text"
          name="confirm_new_password"
          placeholder="Confirm New Password"
        />
      </div>

      <br />

      <input type="submit" />
    </form>
  </body>
</html>
